<footer class="d-flex">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4">
        <h4>Наш адрес:</h4>
        <p>Барахолка тц. Дастур</p>
        <p>Северное кольцо 8, Алматы</p>
      </div>
      <div class="col-12 col-md-4">
        <h4>Наши контакты:</h4>
        <p><a href="tel:87752530066">8 775 253 00 66</a></p>
        <p><a href="mailto:nakeykz@gmail.com">nakeykz@gmail.com</a></p>
      </div>
      <div class="col-12 col-md-4">
        <div class="socials d-flex flex-row">
          <a href="#" class="circle d-flex justify-content-center align-items-center ml-3">
              <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#" class="circle d-flex justify-content-center align-items-center ml-3">
              <i class="fab fa-instagram"></i>
          </a>
          <a href="#" class="circle d-flex justify-content-center align-items-center ml-3">
              <i class="fab fa-youtube"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>