$main-red: #D62C2C;
$main-blue: #007bff;
$hint-color: #A7ABB2;
$main-black: #555C65;
.main-red{
    color: $main-red;
}
.main-blue{
    color: $main-blue;
}
.hint-color{
    color: $hint-color;
}
.main-black{
    color: $main-black;
}