@import '../../shared/variables.scss';
.item{
    border: 1px solid #EBEFF5;
    .img{
        padding-top: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        
    }
    .img:hover{

    }
}
.item:hover{
    box-shadow: 0 1px 5px $main-blue;
}
small{
    font-size: 0.875rem;
}